In [1]:
import pandas as pd
import csv

In [2]:
df_page = pd.read_csv('data/page.tsv', sep='\t', quoting=csv.QUOTE_NONE)
df_page = df_page[(df_page['namespace']==0) & (df_page['is_redirect']==0)]
df_page

,page_id,namespace,title,is_redirect,is_new,touched,links_updated,latest,len,content_model,page_edits,creation,editors,views,references
1,12,0,Anarchism,0,0,20210701093040,2.021070e+13,1030472204,96584,wikitext,19819.0,2001-10-11,3773.0,237226.0,92.0
11,25,0,Autism,0,0,20210628002828,2.021063e+13,1030778215,133536,wikitext,10563.0,2001-12-12,3731.0,469365.0,226.0
17,39,0,Albedo,0,0,20210626180516,2.021062e+13,1028361609,45483,wikitext,1225.0,2001-12-12,686.0,82923.0,37.0
59,290,0,A,0,0,20210629155037,2.021063e+13,1031061699,28174,wikitext,4778.0,2001-05-17,2597.0,449105.0,30.0
67,303,0,Alabama,0,0,20210630195529,2.021063e+13,1030569729,197906,wikitext,9997.0,2001-08-03,4381.0,324587.0,207.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53710490,68103340,0,Karen_Doell,0,1,20210701094318,2.021070e+13,1031386882,1223,wikitext,1.0,2021-07-01,1.0,NaN,NaN
53710499,68103349,0,John_W._Fewell,0,1,20210701094405,2.021070e+13,1031386984,521,wikitext,15.0,2021-07-01,4.0,NaN,NaN
53710509,68103359,0,Carrie_Flemmer,0,1,20210701094546,2.021070e+13,1031387168,1300,wikitext,1.0,2021-07-01,1.0,NaN,NaN
53710515,68103365,0,Dapp_Browsers,0,1,20210701094630,2.021070e+13,1031387241,2682,wikitext,3.0,2021-07-01,2.0,NaN,NaN
53710523,68103373,0,Ratsitatanina,0,1,20210701094740,2.021070e+13,1031387355,1592,wikitext,3.0,2021-07-01,1.0,NaN,NaN

In [3]:
df_pubs = pd.read_csv('data/pub.tsv', sep='\t')
df_pubs

/Users/wences/opt/anaconda3/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (6,7,9,10,11,13,14,16,18,19) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,pub_id,arxiv,asin,bibcode,doi,isbn,ismn,jfm,jstor,lccn,...,oclc,ol,osti,pmc,pmid,rfc,ssrn,url,usenetid,zbl
0,1,NaN,NaN,NaN,10.4064/fm-17-1-152-170,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,eudml.org/doc/212513,NaN,3.02701
1,2,NaN,NaN,NaN,NaN,9780959659634,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,fieldgeologyclubsa.org.au/publications.htm,NaN,NaN
2,3,NaN,NaN,NaN,10.1007/bf02086276,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,zenodo.org/record/1642598,NaN,NaN
3,4,NaN,NaN,NaN,NaN,0719013380,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,books.google.com/?id=5367aaaaiaaj,NaN,NaN
4,5,NaN,NaN,NaN,NaN,0618133844,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,archive.org/details/eastasiacultural00ebre_0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2367543,2367544,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,17845409m,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2367544,2367545,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2247615.0,NaN,NaN,NaN
2367545,2367546,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2617574.0,NaN,NaN,NaN
2367546,2367547,NaN,NaN,NaN,NaN,9781585440450,NaN,NaN,NaN,NaN,...,13093276.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2367547,2367548,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2129879.0,NaN,NaN,NaN

In [4]:
df_page_pubs = pd.read_csv('data/page_pub.tsv', sep='\t')
df_page_pubs

          page_id   pub_id
0        10630303        1
1        12008665        2
2        23560884        3
3         3144280        3
4          652221        4
...           ...      ...
3728517   3148435  2367544
3728518  34084825  2367545
3728519  17547034  2367546
3728520   6265065  2367547
3728521  23495961  2367548

[3728522 rows x 2 columns]

In [6]:
doi = df_page_pubs[df_page_pubs['pub_id'].isin(df_pubs[(~df_pubs['doi'].isna()) & (df_pubs['isbn'].isna())].pub_id.tolist())].groupby('page_id').size().reset_index(name='doi')
isbn = df_page_pubs[df_page_pubs['pub_id'].isin(df_pubs[~df_pubs['isbn'].isna()].pub_id.tolist())].groupby('page_id').size().reset_index(name='isbn')
refs = df_page_pubs[df_page_pubs['pub_id'].isin(df_pubs[(~df_pubs['isbn'].isna()) | (~df_pubs['doi'].isna())].pub_id.tolist())].groupby('page_id').size().reset_index(name='references')
df_page = df_page[['page_id','title']].merge(doi, how='left', on='page_id').merge(isbn, how='left', on='page_id').merge(refs, how='left', on='page_id')
df_page

          page_id           title    doi  isbn  references
0              12       Anarchism    7.0  56.0        63.0
1              25          Autism  168.0   8.0       176.0
2              39          Albedo   19.0   2.0        21.0
3             290               A    2.0   7.0         9.0
4             303         Alabama    3.0  20.0        23.0
...           ...             ...    ...   ...         ...
6328129  68103340     Karen_Doell    NaN   NaN         NaN
6328130  68103349  John_W._Fewell    NaN   NaN         NaN
6328131  68103359  Carrie_Flemmer    NaN   NaN         NaN
6328132  68103365   Dapp_Browsers    NaN   NaN         NaN
6328133  68103373   Ratsitatanina    NaN   NaN         NaN

[6328134 rows x 5 columns]

In [7]:
df_page.doi = df_page.doi.fillna(0)
df_page.isbn = df_page.isbn.fillna(0)
df_page.references = df_page.references.fillna(0)
df_page[['page_id', 'doi', 'isbn', 'references']] = df_page[['page_id', 'doi', 'isbn', 'references']].astype(int)
df_page

          page_id           title  doi  isbn  references
0              12       Anarchism    7    56          63
1              25          Autism  168     8         176
2              39          Albedo   19     2          21
3             290               A    2     7           9
4             303         Alabama    3    20          23
...           ...             ...  ...   ...         ...
6328129  68103340     Karen_Doell    0     0           0
6328130  68103349  John_W._Fewell    0     0           0
6328131  68103359  Carrie_Flemmer    0     0           0
6328132  68103365   Dapp_Browsers    0     0           0
6328133  68103373   Ratsitatanina    0     0           0

[6328134 rows x 5 columns]

In [8]:
df_page.to_csv('results/page_references.tsv', index=False, sep='\t')

In [8]:
#df_doi = df_page[['page_id']].merge(df_page_pubs[df_page_pubs['pub_id'].isin(df_pubs[~df_pubs['doi'].isna()].pub_id.tolist())], how='inner', on='page_id')
#df_doi.pub_id = 1
#df_doi = df_doi.groupby('page_id').agg(doi_total=('pub_id','sum'), doi_pages=('pub_id','min')).reset_index()
#df_doi = df_doi.groupby('category_id')[['doi_total', 'doi_pages']].sum().reset_index()
#df_doi

In [9]:
#df_doi = df_doi.merge(df_page.merge(df_page_pubs[df_page_pubs['pub_id'].isin(df_pubs[~df_pubs['doi'].isna()].pub_id.tolist())], how='inner', on='page_id')[['page_id', 'pub_id']].drop_duplicates().groupby('page_id').size().reset_index(name='doi_unique'), how='inner', on='category_id')
#df_doi